<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<h4>internal test project</h4>
	<h1>JGI QA/QC DashBoard </h1>
    {% block head %}
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}{% endblock %}JGI-QAQC-DashBoard</title>
    {% endblock %}
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
         &copy; JGI-QA/QC Group 2012 by <a href="mailto:apratap@lbl.gov?Subject=About JGI-QA/QC Dashboard">Abhishek Pratap</a>
        {% endblock %}
    </div>
</body>